.body{
    margin: 0;
    overflow: hidden;
}

.tube-border{
    width: 100%;
    height: 100%;
    background-image: url(images/border-stretched-2.png);
    background-size: 100% 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    pointer-events: none;

}

.tube-shape{
    background: black;
    color: white;
    text-align: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}


.tube-shape::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18,16,16,0) 50%, rgba(0,0,0,0.25) 50%), linear-gradient(
            90deg
            , rgba(255,0,0,0.06), rgba(0,255,0,0.02), rgba(0,0,255,0.06));
    z-index: 7;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.awge-tube-shape::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18,16,16,0.1);
    opacity: 0;
    z-index: 7;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

.content{
    width: 100%;
    height: 100%;
}


.home-content{
    background-image: url(images/home-background-2.gif);
    background-size : cover;
    display: flex;
    flex-direction: column;
    width : 100%;
    height: 100%;

}

.home-container{
    margin: auto;
    background: #e6e2e2;
    width: 55vw;
    height: 57vh;
    border: 2px solid black;
    border-radius: 7px;
    min-height: 300px;
    min-width: 465px;
}

.home-navbar{
    background: #d4cdcd;
    border: 3px solid #979797;
    text-align: left;
    color: black;
    position: relative;
    top: -4px;
    border-radius: 4px;
    padding: 7px 0 7px 5%;

}

.home-options-container{
    display: flex;
    height: calc(100% - 66px);
    position: relative;
}

.home-options{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.home-options-row{
    display: flex;
    flex: 1;
    position: relative;
}

.home-options-item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-options-icon{
    max-height: 80px;
    max-width: 120px;
    cursor: pointer;
}



.home-options-wrapper{
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    border: 0;
    padding: 0;
    background: none;
    font-size: 100%;
    font-family: inherit;
    color: inherit;
    font: inherit;


    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0em;

}

.home-options-text{
    font-family: 'Press Start 2P', monospace;
    font-weight: normal;
    font-size: 1em;
    color: white;
    cursor: pointer;
}

.home-button {
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 2;
    background: none;
    border: none;
}
.home-button>img{
    width: 100px;
    height: auto;
}



/* Contact page */
.contact-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.contact-container {
    width: 40vw;
    height: 49vh;
    margin: auto;
    background: #d7d6d6;
    border: 5px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 400px;
    min-width: 695px;
}

.contact-navbar {
    padding: 10px 0;
    border-bottom: 4px solid black;
    z-index: 1;

}

.contact-navbar-text {
    font-family: 'Press Start 2P', monospace;
    font-weight: normal;
    margin: 0;
    font-size: 1.3em;
    color: #9b9b9b;
}

.contact-navbar-text-extra {
    background: #D7D6D6;
    padding: 5px;
}

.contact-contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #d7d6d6;
    padding: 20px;
}

.contact-email-container {
    display: flex;
    flex: 1;
}

.contact-subject-container {
    display: flex;
    flex: 1;
}

.contact-message-container {
    display: flex;
    flex: 2;
}

.contact-contact-label-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    flex: 1;
}

.contact-contact-input-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    position: relative;
    border-radius: 5px;
    border: 1px solid #9B9B9B;
    background: #E7E5E6;
    height: 57px;
    margin: 0 10px;
}

.contact-contact-textarea-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 10px;
    overflow-y: auto;
    position: relative;
    border-radius: 5px;
    border: 1px solid #9B9B9B;
    background: #E7E5E6;
}

.contact-contact-textarea {
    font-family: 'Press Start 2P', monospace;
    font-weight: normal;
    color: white;
    min-height: 100%;
    width: 100%;
    height: 100%;
    line-height: 1.1em;
    padding: 10px;
    font-size: 0.9em;
    text-align: left;
    resize: none;
    position: absolute;
    overflow-y: auto !important;
}

.contact-contact-label {
    background: #999;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
    width: 100%;
    padding: 10px 5px;
}

.contact-contact-label-text {
    font-family: 'Press Start 2P', monospace;
    font-weight: normal;
    font-size: 1em;
    color: white;
}

/* Contact page footer*/
.contact-footer {
    padding: 0;
    border-top: 2px solid black;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-footer-text {
    font-family: 'Press Start 2P', monospace;
    font-weight: normal;
    color: white;
    margin: 5px;
    font-size: 1.3em;
    background: #545454;
    border-radius: 8px;
    padding: 7px;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    text-align: center;
    flex: 1;
}


.rainbow-text {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 13s ease infinite;
    animation: rainbow 13s ease infinite;
    transform: translateZ(0);
    -webkit-background-clip: text;
    color: #9B9B9B !important;
    -webkit-text-fill-color: transparent;
}


/*About page */
.wrapper-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.about-header{
    font-family: 'Press Start 2P', monospace;
    font-size: 1em;
}

.about-text{
    font-family: 'Press Start 2P', monospace;
    font-size: 1em;
    line-height: 1.4em;

}

.about-button-text{
    font-family: 'Press Start 2P', monospace;
    font-size: 1em;
    cursor: pointer;

}

.about-button{
    border: 0;
    padding: 0;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;

}

/*Blog page */
.blog-header{
    font-family: 'Press Start 2P', monospace;
    font-size: 4em;
}